.row{
    width: 80%;
    height: 400px;
    background-color: aqua;
    border: 1px solid black;
    position: absolute;
}

.col{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
}
.row .col:nth-child(1){
    background-color: brown;
    position: relative;
    top: 50%;
    left: 50%;

}
.row .col:nth-child(2){
    background-color: blanchedalmond;
}
.fixed{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 1px solid black;
    position: fixed;
    left: 80%;
}
.sticky{
    background-color: violet;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    position: sticky;
    top: 60px;
    
}